# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de entorno de desarrollo
.vscode/
node_modules/
npm-debug.log

# Ignorar cachés de Leaflet (si usas plugins que generen archivos temporales)
*.log
*.cache

# Ignorar cachés de Python y Pytest
__pycache__/
tests/__pycache__/
.pytest_cache/

# Ignorar imágenes temporales o archivos de prueba (si los usaste)
images/*.tmp
